<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-blue bg-dark d-flex">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= fa_stacked_icon "camera inverse", base: "square"%>
      <%= link_to "Facebook", root_path, class: "navbar-brand" %>

    </a>
    <div class="m-auto">
      <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
        <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
      <% end %>
    </div>
    <div class="user-section">


      <% if user_signed_in? %>
        <a href="<%= destroy_user_session_path%>" data-method="delete">
          <i class="fa fa-user"></i>
        </a>
      <% else %>
        <a href="<%= new_user_session_path%>">
          <i class="fa fa-sign-in"></i>
        </a>
      <% end %>
      <% if user_signed_in? %>
        <b> <%= link_to "My Profile", current_user %></b>
      <% end %>
    </div>
  </div>
</nav>
<nav class="navbar navbar-blue bg-light">
  <a class="navbar-brand" href="#">
  </a>
  <div class="user">
    <a href="http://localhost:3000/search?query="><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    <i class="fa fa-users" aria-hidden="true"></i>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    <a href="http://localhost:3000/users/1/edit"><i class="fa fa-bars" aria-hidden="true"></i></a>
  </div>
</nav>
<!--Main content-->
<main class="container" style="min-height: 500px;">
  <%= yield %>
</main>
<!--Footer-->
<footer class="container footer">
  <nav class="navbar d-flex">
    <ul>
      <li>ABOUT US
      </li>
      <li>SUPPORT</li>
      <li>PRESS</li>
      <li>API</li>
      <li>JOBS</li>
      <li>PRIVACY</li>
      <li>TERMS</li>
      <li>DIRECTORY</li>
      <li>PROFILES</li>
      <li>HASHTAGS</li>
      <li>LANGUAGE</li>
    </ul>
    <p> © 2018 FACEBOOK </p>
  </nav>
</footer>
</body>
</html>